<img {{bind-attr src=user.thumbnailUrl}}>

{{#if editing}}
  <label>Username</label>
  {{input type="text" value=user.name}}
  <label>Email Address</label>
  {{input type="text" value=user.email}}
  <label>Phone Number</label>
  {{input type="text" value=user.phone}}
  <label>Twitter Handle</label>
  {{input type="text" value=user.twitter}}
  <button {{action 'stopEditing'}}>Finish Editing</button>
{{else}}
  <p>{{user.name}}</p>
  <p>{{user.email}}</p>
  <p>{{user.phone}}</p>
  <p>{{user.twitter}}</p>
  <button {{action 'startEditing'}}>Edit Profile</button>
{{/if}}

