<div class="row">
  <div id="home-headline" class="small-12 small-centered columns">
    <p class="large-content">Welcome to</p>
    <h1>Committen</h1>
  </div>
</div>

<div id="home-content" class="row">
  <div class="small-10 small-centered columns">
    <p>
      Bacon ipsum dolor amet pork pork belly spare ribs,
      short loin pancetta pig ham tenderloin shankle kevin
      fatback prosciutto turkey. Tail t-bone spare ribs tenderloin
      venison kielbasa brisket turkey sausage ground round pancetta
      pork.
    </p>
  </div>
</div>

<div id="login" class="row">
  {{#if session.isWorking}}
    Signing you in...
  {{else}}
    {{error}}
    {{#if session.isAuthenticated}}
      <div id="home-button" class="small-11 small-centered columns">
        <button class="button primary-btn" {{action 'closeSession'}}>Logout</button>
      </div>
    {{else}}
      <div id="home-button" class="small-11 small-centered columns">
        <button class="button primary-btn" {{action 'signInViaGithub'}}>Log in with GitHub</button>
      </div>
    {{/if}}
  {{/if}}
</div>


