<h3>Dashboard for User</h3>

<div class="user">
  <img {{bind-attr src=thumbnailUrl}}>
  <p>{{name}}</p>
  <p>{{email}}</p>
  <p>{{phone}}</p>
</div>

<div class="commits">
  {{#each commit in commits}}
    <p>{{commit.date}}</p>
    <p>{{commit.message}}</p>
    <p>{{commit.url}}</p>
  {{/each}}
</div>


