<h3>Dashboard for User</h3>

<div class="user">
  <img {{bind-attr src=thumbnailUrl}}>
  {{#if editing}}
    <label>Username</label>
    {{input type="text" value=name}}
    <label>Email Address</label>
    {{input type="text" value=email}}
    <label>Phone Number</label>
    {{input type="text" value=phone}}
    <label>Twitter Handle</label>
    {{input type="text" value=twitter}}
    <button {{action 'stopEditing'}}>Finish Editing</button>
  {{else}}
    <p>{{name}}</p>
    <p>{{email}}</p>
    <p>{{phone}}</p>
    <p>{{twitter}}</p>
    <button {{action 'startEditing'}}>Edit Note</button>
  {{/if}}
</div>

<div class="commits">
  {{#each commit in commits}}
    <p>{{commit.date}}</p>
    <p>{{commit.message}}</p>
    <p>{{commit.url}}</p>
  {{/each}}
</div>

<div class="goals">
  {{#each goal in goals}}
    <p>{{goal.title}}</p>
    <p>{{goal.description}}</p>
    <p>Start date: {{goal.startDate}}</p>
    <p>End date: {{goal.endDate}}</p>
    <p>Commits per day: {{goal.dailyQuantity}}</p>
    <label>Mark as completed</label>
      {{input type="checkbox" checked=goal.completed}}
    <p>
      {{#if goal.completed}}
        This goal is complete!
      {{else}}
        You're still working on this goal
      {{/if}}
    </p>
    <label>Mark as completed</label>
    {{input type="checkbox" checked=goal.completed}}
    <p>{{goal.dailyQuantity}}</p>
  {{/each}}
  {{#link-to 'goal.new'}}
    Make a goal
  {{/link-to}}
  {{outlet}}
</div>
