<div id="subheader" class="row">
  <div class="small-11 end columns">
    <h6><span class="hot">Committen</span>Dashboard</h6>
  </div>
</div>

<div class="row">
  <div class="small-4 column">
    {{user-profile user=content}}
  </div>

  <div class="small-8 column">
    <h6>Commit History</h6>
    {{#each commit in commits}}
    <div class="small-12 columns">
      {{commit.date}}
      {{commit.message}} 
      <p><a href="">See full commit on GitHub</a></p>
    </div>
    {{/each}}

    {{#if goals}}
      <h3>Your Goals</h3>
      {{#each goal in goals}}
        <div class="small-6 columns">
          {{user-goal goal=goal}}
        </div>
      {{/each}}

      {{#link-to 'goal.new' class="button primary-btn"}}
      Make a New Goal
      {{/link-to}}

      {{outlet}}
    {{else}}
    <h4>You don't have any goals... you're lazy</h4>
      {{#link-to 'goal.new' class="button primary-btn"}}
      Make a goal
      {{/link-to}}

      {{outlet}}
    {{/if}}

  </div>
</div>

